<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.CustomerDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.Customer">
		<result column="user_id" property="userId" />
		<result column="openid" property="openId" />
		<result column="login_name" property="loginName" />
		<result column="login_pwd" property="loginPwd" />
		<result column="nike_name" property="nikeName" />
		<result column="area" property="area" />
		<result column="age" property="age" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="profession" property="profession" />
		<result column="remarks" property="remarks" />
		<result column="status" property="status" />
		<result column="create_date" property="createDate" />
		<result column="create_time" property="createTime" />
		<result column="update_date" property="updateDate" />
		<result column="update_time" property="updateDime" />
	</resultMap>

	<parameterMap id="customer" type="org.spring.springboot.domain.Customer"/>
	<sql id="Base_Column_List">
		user_id, open_id, login_name, login_pwd, nike_name, headimgurl , sex , area, age, phone, email, 
		profession, remarks, status ,create_date, create_time, update_date, update_time
	</sql>

	
	
	<delete id="deleteByPhone" parameterType="customer">
		DELETE FROM wx_constomer WHERE PHONE = #{phone}
	</delete>

	<update id="updateByPhone" parameterType="customer" >
	UPDATE wx_constomer 
	<trim prefix="set" suffixOverrides=",">
		 <if test="userId != null" >
		    user_id = #{userId},
		    </if>
		  <if test="openId != null" >
		    open_id = #{openId},
		  </if>
		  <if test="loginName != null" >
		    login_name = #{loginName},
		  </if>
		  <if test="loginPwd != null" >
		    login_pwd = #{loginPwd},
		  </if>
		  <if test="nikeName != null" >
		    nike_name = #{nikeName},
		  </if>
		  <if test="area != null" >
		    area = #{area},
		  </if>
		  <if test="age != null" >
		    age = #{age},
		  </if>
		  <if test="email != null" >
		    email = #{email},
		  </if>
		  <if test="profession != null" >
		    profession = #{profession},
		  </if>
		  <if test="regtime != null" >
		    regtime = #{regtime},
		  </if>
		  <if test="remarks != null" >
		    remarks = #{remarks},
		  </if>
		  <if test="status != null" >
		    status = #{status},
		  </if>
		  <if test="createDate != null" >
		    create_date = #{createDate},
		  </if>
		  <if test="createTime != null" >
		    create_time = #{createTime},
		  </if>
		  <if test="updateDate != null" >
		    update_date = #{updateDate},
		  </if>
		  <if test="updateTime != null" >
		    update_time = #{updateTime}
		  </if>
	</trim>		
	WHERE phone = #{phone}
	</update>
	
	<update id="updateById" parameterType="customer" >
	UPDATE wx_constomer 
	<trim prefix="set" suffixOverrides=",">
		 <if test="userId != null" >
		    user_id = #{userId},
		    </if>
		  <if test="openId != null" >
		    open_id = #{openId},
		  </if>
		  <if test="loginName != null" >
		    login_name = #{loginName},
		  </if>
		  <if test="loginPwd != null" >
		    login_pwd = #{loginPwd},
		  </if>
		  <if test="nikeName != null" >
		    nike_name = #{nikeName},
		  </if>
		  <if test="area != null" >
		    area = #{area},
		  </if>
		  <if test="age != null" >
		    age = #{age},
		  </if>
		  <if test="email != null" >
		    email = #{email},
		  </if>
		  <if test="profession != null" >
		    profession = #{profession},
		  </if>
		  <if test="regtime != null" >
		    regtime = #{regtime},
		  </if>
		  <if test="remarks != null" >
		    remarks = #{remarks},
		  </if>
		  <if test="status != null" >
		    status = #{status},
		  </if>
		  <if test="createDate != null" >
		    create_date = #{createDate},
		  </if>
		  <if test="createTime != null" >
		    create_time = #{createTime},
		  </if>
		  <if test="updateDate != null" >
		    update_date = #{updateDate},
		  </if>
		  <if test="updateTime != null" >
		   update_time = #{updateTime},
		  </if>
	</trim>		
	WHERE  user_id = #{userId}
	</update>
	
	<select id="findByNikeName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from wx_constomer
		where nike_name = #{nikeName}
	</select>
	
	<select id="findByUserId" parameterType="customer" resultType="customer">
		select
		<include refid="Base_Column_List" />
		from wx_constomer
		where user_id = #{userId}
	</select>
	
	
	
	<select id="queryCusByOpenid" parameterType="customer" resultType="customer">
		select
		<include refid="Base_Column_List" />
		from wx_constomer
		where open_id = #{openId}
	</select>
	
	<select id="queryCusByPhone" parameterType="customer" resultType="customer">
		select
		<include refid="Base_Column_List" />
		from wx_constomer
		where phone = #{phone}
	</select>
	
	<insert id="saveCustomer" parameterType="customer">
	INSERT INTO wx_constomer
		<trim prefix="(" suffix=")" suffixOverrides="," >
		user_id,
		<if test="openId != null and openId != ''">
		open_id,
		</if>
		<if test="loginName != null and loginName != ''">
		login_name,
		</if>
		<if test="loginPwd != null and loginPwd != ''">
		login_pwd,
		</if>
		<if test="headimgurl != null and headimgurl != ''">
		headimgurl,
		</if>
		<if test="sex != null and sex != ''">
		sex,
		</if>
		<if test="nikeName != null and nikeName != ''">
		nike_name,
		</if>
		<if test="area != null and area != ''">
		area,
		</if>
		<if test="age != null and age != ''">
		age,
		</if>
		<if test="phone != null and phone != ''">
		phone,
		</if>
		<if test="email != null and email != ''">
		email, 
		</if>
		<if test="profession != null and profession != ''">
		profession,
		</if>
		<if test="remarks != null and remarks != ''">
		remarks,
		</if>
		<if test="status != null and status != ''"> 
		status ,
		</if>
		<if test="createDate != null and createDate != ''">
		create_date, 
		</if>
		<if test="createTime != null and createTime != ''">
		create_time, 
		</if>
		<if test="updateDate != null and updateDate != ''">
		update_date, 
		</if>
		<if test="updateTime != null and updateTime != ''">
		update_time
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		#{userId},
		<if test="openId != null and openId != ''">
		#{openId},
		</if>
		<if test="loginName != null and loginName != ''">
		#{loginName},
		</if>
		<if test="loginPwd != null and loginPwd != ''">
		#{loginPwd},
		</if>
		<if test="headimgurl != null and headimgurl != ''">
		#{headimgurl},
		</if>
		<if test="sex != null and sex != ''">
		#{sex},
		</if>
		<if test="nikeName != null and nikeName != ''">
		#{nikeName},
		</if>
		<if test="area != null and area != ''">
		#{area},
		</if>
		<if test="age != null and age != ''">
		#{age},
		</if>
		<if test="phone != null and phone != ''">
		#{phone},
		</if>
		<if test="email != null and email != ''">
		#{email},
		</if>
		<if test="profession != null and profession != ''">
		#{profession},
		</if>
		<if test="remarks != null and remarks != ''">
		#{remarks},
		</if>
		<if test="status != null and status != ''">
		#{status},
		</if>
		<if test="createDate != null and createDate != ''">
		#{createDate},
		</if>
		<if test="createTime != null and createTime != ''">
		#{createTime},
		</if>
		<if test="updateDate != null and updateDate != ''">
		#{updateDate},
		</if>
		<if test="updateTime != null and updateTime != ''">
		#{updateTime},
		</if>
		</trim>
	</insert>

</mapper>
