<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.HotSaleDao">

	<select id="getHotSalesList" resultType="org.spring.springboot.Vo.HotSale" parameterType="org.spring.springboot.Vo.HotSale">
		select  i.item_id as hotSaleId,
		i.short_name as saleName,
		i.sales_volume as salesVolume,  
		d.retail as price,
		d.images as imgUrl ,
		i.item_type  as itemType 
		from wx_item  i left join wx_item_detail d on i.item_id = d.item_id 
		where i.item_type = #{itemType}
		LIMIT #{minRecordNum},#{pageSize} 
		
		<!-- select  i.item_id as hotSaleId,
		i.short_name as saleName,
		i.sales_volume as salesVolume,  
		d.retail as price,
		d.images as imgUrl ,
		i.item_type  as itemType 
		from wx_item  i left join wx_item_detail d on i.item_id = d.item_id 
		where i.item_type = 'SG'
		LIMIT 0,2; -->
	</select>

</mapper>
