<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.OrderDao">

<parameterMap id="order" type="org.spring.springboot.domain.Order"/>

	<sql id="Base_Column_List">
		order_id,user_id,item_id,order_num,pay_price,pay_num,promotion_total,pay_total,order_date,
		order_status,receive_id,remarks,create_date,create_time,update_date,update_time
	</sql>

	<select id="countBytype"  parameterType="order">
		SELECT 
		COUNT(order_id) 
		FROM 
		wx_order
		where order_status=#{type};
	</select>
	
	<select id="findOrderS" resultType="order" parameterType="order">
		select 
		<include refid="Base_Column_List" />
		from wx_order 
		where user_id = #{userId}
	</select> 
	
	<insert id="createOrder" parameterType="order">
	insert into wx_order
	<trim prefix="(" suffix=")" suffixOverrides=",">
		order_id,
		<if test="userId != null" >
		user_id,
		</if>
		<if test="itemId != null" >
		item_id,
		</if>
		<if test="orderNum != null" >
		order_num,
		</if>
		<if test="payPrice != null" >
		pay_price,
		</if>
		<if test="payNum != null" >
		pay_num,
		</if>
		<if test="promotionTotal != null" >
		promotion_total,
		</if>
		<if test="payTotal != null" >
		pay_total,
		</if>
		<if test="orderDate != null" >
		order_date,
		</if>
		<if test="orderStatus != null" >
		order_status,
		</if>
		<if test="receiveId != null" >
		receive_id,
		</if>
		<if test="remarks != null" >
		remarks,
		</if>
		<if test="createDate != null" >
		create_date,
		</if>
		<if test="createTime != null" >
		create_time,
		</if>
		<if test="updateDate != null" >
		update_date,
		</if>
		<if test="updateTime != null" >
		update_time
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		#{orderId},
		<if test="userId != null and userId != ''">
		#{userId},
		</if>
		<if test="itemId != null and itemId != ''">
		#{itemId},
		</if>
		<if test="orderNum != null and orderNum != ''">
		#{orderNum},
		</if>
		<if test="payPrice != null and payPrice != ''">
		#{payPrice},
		</if>
		<if test="payNum != null and payNum != ''">
		#{payNum},
		</if>
		<if test="promotionTotal != null and promotionTotal != ''">
		#{promotionTotal},
		</if>
		<if test="payTotal != null and payTotal != ''">
		#{payTotal},
		</if>
		<if test="orderDate != null and orderDate != ''">
		#{orderDate},
		</if>
		<if test="orderStatus != null and orderStatus != ''">
		#{orderStatus},
		</if>
		<if test="receiveId != null and receiveId != ''">
		#{receiveId},
		</if>
		<if test="remarks != null and remarks != ''">
		#{remarks},
		</if>
		<if test="createDate != null and createDate != ''">
		#{createDate},
		</if>
		<if test="createTime != null and createTime != ''">
		#{createTime}, 
		</if>
		<if test="updateDate != null and updateDate != ''">
		#{updateDate},
		</if>
		<if test="updateTime != null and updateTime != ''">
		#{updateTime},
		</if>
		</trim>
	</insert>

</mapper>
